//Variables

//Color variables
$maximumBlueGreen: #16BAC5;
$mayaBlue: #5FBFF9;
$magnolia: #EFE9F4;
$darkJungleGreen: #171D1C;
$neonBlue: #5863F8;

$primaryColor: #F04329;
$primaryWhite: #FFFFFF;
$darkGrey: #1C1E25;
